body{font-size: 16px; color: #333; line-height: 1.6em}
body,ul,li,h1{margin: 0; padding: 0;}
a{text-decoration: none;}
a:hover{ color: #f00}
.fl{float: left;}.fr{float: right;}.cf::after{clear: both; content: '';display: block;}
.container,header,footer{width: 100%; max-width:960px; margin: 0 auto;}
header{height: 70px; background: #eee; color: #555}
header h1{line-height: 2em}
footer{text-align: center; color: #666}